.container {
    background: linear-gradient(to right, #ff690f 0%, #e8381b 100%);
    padding: 1rem;
    height: 9%;  
    position: flex;
   
  
}

.button{
    margin-top: 0.5rem;  
    width: 8%; 
    height: 88%;
    float: right;
    background: white;
    border: none;
    color: #e8381b;
    

  }
  #film{
    float: left;
    /* height: 10px; */
  }
 

 
  input{
    width: 90%;
    height: 90%;
    margin-top: 0.5rem;  
    display: flex;  
    float: left;
    padding-left: 40px ;
    background-color: rgba(255, 255, 255, 0.25);
    
    border: none; 
   
    flex-grow: 1;
    
  }
  .InputWithIcon{
    position: relative;
  }

  .InputWithIcon i{
    position: absolute;
    left: 1.5%;
    padding-top: 3%;
   
    color: white;
  }



  ::placeholder{
      color: white
      
      
  }
  input:focus {
    background-color: white;
    color: black; 
   outline: none;
   font-weight: bold;
   font-size:16; 
  
  }
  input:focus +i {
  color: black;
  
  }


  label {
    position: absolute;
    font-size: 12px;
    
  }




